<div class="hero-wrapper">
  <div class="header-gradient"></div>
    <div class="header-wrapper">
      <div class="container">
        <div class="header-content col-xs-10 col-sm-offset-1">


          <div class="header-text">
            <h3>Hallo. Ik ben <span>Bram van Dam</span>,</h3>
            <h3>een <span>Amsterdamse</span></h3>
            <h3>Film en Documentaire <span>Editor</span>.</h3>
            <!-- <h3>Hello. I'm <span>Bram van Dam</span>,</h3>
            <h3>an <span>Amsterdam</span>-based</h3>
            <h3>Film and Documentary <span>Editor</span></h3> -->
          </div>


        </div>
      </div>
      <div class="header-source">Foto door Mike Wennekes</div>
    </div>
</div>
