<div class="hero-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-7 col-md-6">
        <div class="header-wrapper">
          <div class="header-text"><h1>{{ config.site.title }}</h1></div>
          <div class="header-underline"></div>
          <div class="header-underscore"><h2>{{ config.site.kicker }}</h2></div>
        </div>
      </div>
      <div class="hero-clapper">
      </div>
    </div>
  </div>
</div>
