<a href="#welcome-text"><span class="ion-chevron-down scroll-down-welcome"></span></a>

<div class="welcome-wrapper flexbox-center" id="welcome-text">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div class="welcome-text">{{ content }}</div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="welcome-buttons">
          <a class="button-outline" href="/werk">
            <span class="button-outlineText">Bekijk portfolio</span>
            <button class="button-outlineBackground"></button>
          </a>
          <a class="button-outline" href="/contact">
            <span class="button-outlineText">Neem contact op</span>
            <span class="button-outlineBackground"></span>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
