<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="werkItem-thumb" data-folder="werk/_werk/{{ page.slug }}" style="background-image: url('{{ page.media['thumb.jpg'].url }}')" alt="">
    <div class="werkItem-thumbOverlay">
      <h3 class="werkItem-title">{{ page.title }}</h3>
    </div>

  </div>
</div>
