{# {% do assets.add('theme://css/main-inverted.css',100) %} #}
{% extends 'partials/base-inverted-sticky-footer.html.twig' %}

{% block content %}

<div class="mainError">
  <div class="mainError-overlay flexbox-center">
    <div class="container">
      <div class="mainError-content">
        <h1>404</h1>
        <h2>Nothing to see here...</h2>
        <p>Sorry, maar ik kan je niet helemaal volgen... Ben je verdwaald? Hetgeen wat je zoekt is er niet meer of is er wellicht nooit geweest. Misschien is het tijd om terug naar <a href="/home">huis</a> te gaan?</p>
        <a class="button-chevron-left" href="/home">
          <span id="left1" class="ion-chevron-left"></span>
          <span id="left2" class="ion-chevron-left"></span>
          <span class="read-more">Terug naar home</span>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
