{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      {{ page.content }}
    </div>
    <div class="col-xs-4 text-center">
      <button id="fire">
        Click me!
      </button>
    </div>
    <div class="col-xs-4">
      <div class="box">
        <section class="project">
          <div class="project-load"></div>
        </section>
      </div>
    </div>
  </div>
</div>



</section>
{% endblock %}
